@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Orbitron&display=swap');

html {
  font-family: 'Montserrat', sans-serif !important;
}

html,
    body {
      padding: 0;
      margin: 0;
      /* font-family: 'Montserrat', sans-serif !important; */
    }

  * {
    box-sizing: border-box;
  }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("../../public/images/leaguebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clippedButton {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0% 100%);
}
